<!DOCTYPE html>
<html lang="ar" dir="rtl" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="apple-touch-icon" href="/assets/icons/ios.png">
    <meta name="theme-color" content="black" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="white" media="(prefers-color-scheme: light)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Timeless</title>
  </head>
  <body class="h-full grid rows-auto-fr dark:text-white dark:bg-black overscroll-y-contain" v-scope>
    <header class="h-16 mx-4 flex gap-2 items-center justify-between">
      <h1 class="text-xl font-bold grow select-none">Timeless</h1>

      <button class="h-8 w-8 p-1 rounded-md bg-gray-100 dark:bg-gray-900" @click="props.stats = true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
      </button>
      
      <button class="h-8 w-8 p-1 rounded-md bg-gray-100 dark:bg-gray-900" @click="$refs.settings.open = true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
      </button>
    </header>
    <main class="grid place-items-center">
      <div v-scope="timer(tags)" class="flex flex-col gap-6">
        <!-- stage selector -->
        <form class="mx-auto">
          <template v-if="stage === 'task'">
            <select v-model="category" name="categories" class="font-semibold text-lg text-[#3584e4]">
              <option value="study">وقت الدراسة</option>
              <option value="work">وقت العمل</option>
              <option value="sport">وقت الرياضة</option>
            </select>
          </template>
          <template v-else>
            <p class="font-semibold text-lg text-[#2ec27e] select-none">وقت الاسترخاء</p>
          </template>
        </form>
        
        <!-- display timer-->
        <h2 class="text-7xl text-center font-light select-none" :class="stage == 'task'? 'text-[#3584e4]' : 'text-[#2ec27e]'" v-text="`${hours()}${minutes()}:${seconds()}`"></h2>
        
        <!-- start, pause, forward buttons -->
        <div v-cloak class="flex justify-center items-center gap-2">
          <button @click="forward()"  class="h-10 w-10 p-2 rounded-full bg-gray-100 dark:bg-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z" />
            </svg>
          </button>
          <button class="h-16 w-16 rounded-full" @click="timerOn ? stop() : start()">
              <svg v-if="!timerOn" xmlns="http://www.w3.org/2000/svg" :class="stage == 'task'? 'text-[#3584e4]' : 'text-[#2ec27e]'" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
              <svg v-else xmlns="http://www.w3.org/2000/svg" :class="stage == 'task'? 'text-[#3584e4]' : 'text-[#2ec27e]'" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
              </svg>
          </button>
        </div>

        <!-- Overlay Effect -->
        <div ref="tags" v-cloak :class="isTagsOpen || 'hidden'" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
          <!-- // modal content -->
          <div v-scope="tags" @vue:mounted="getTags()" class="relative top-7 md:top-20 grid-phone min-h-screen md:min-h-fit md:w-96 md:mx-auto shadow-lg rounded-t-lg md:rounded-b-lg bg-white dark:bg-black select-none" >
            <header class="p-4 flex items-center sticky top-0">
                <!--<button type="reset" @click="close()" class="font-semibold text-[#c01c28]"></button>-->
                <h1 class="flex-grow text-center font-bold">إضافة وسوم</h1>
                <button type="submit" form="addTags" class="font-semibold text-[#3584e4]">تم</button>
            </header>
            <form @submit.prevent="done()" id="addTags" class="p-4 flex flex-col gap-2">
                <div class="border border-gray-200 dark:border-gray-800 rounded-lg">
                  <input type="search" class="w-full p-2" v-model="input" placeholder="رشّح الوسوم أو أضفها" />
                </div>
                <template v-if="loading">
                  <div class="flex justify-center">
                    <svg class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                  </svg>
                  </div>
                </template>
                <template v-else>
                <ul class="flex flex-col border divide-y divide-gray-200 dark:divide-gray-800 border-gray-200 dark:border-gray-800 rounded-lg text-gray-900 dark:text-gray-100">
                  <li v-for="tag in filterdTags" class="flex gap-2 items-center p-2 m-0">
                    <input type="checkbox" v-model="selectedTags" :id="tag" name="tags" :value="tag" class="rounded-md">
                    <label :for="tag" class="grow">#{{tag}}</label>
                    <button @click="deleteTag(tag)">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-[#c01c28]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    </button>
                  </li>
                </ul>
                </template>
            </form>
            <footer class="p-4 w-full fixed md:static bottom-0 border-t border-t-neutral-100 dark:border-neutral-900">
                <button :disabled="filterdTags.length || loading" @click="addTags" class="h-11 w-full rounded-lg bg-black dark:bg-white disabled:bg-gray-600 text-white dark:text-black disabled:text-gray-400 disabled:cursor-not-allowed">إضافة</button>
            </footer>
          </div>
        </div>
      </div>
    </main>
    
    <!-- Seetings Dialog -->
    <dialog ref="settings" class="dark:bg-black dark:text-white absolute top-0 left-0 w-full h-full px-4 py-0 select-none">
      <header class="h-16 flex items-center justify-between">
        <h2 class="text-xl font-bold">التفضيلات</h2>
          <button @click="$refs.settings.close()" v-if="!process.loading" v-cloak type="submit" form="prefrences" class="h-8 w-8 p-1 rounded-md bg-gray-100 dark:bg-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
          <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 p-1 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
          </svg>
      </header>
      <div class="md:w-96 md:max-w-md md:mx-auto mb-4">
        <section v-scope="authn()">
          <form v-if="!props.user && form == 'login'" v-cloak method="post" @submit.prevent="signin">
            <h3 class="text-xl font-semibold my-4">تسجيل الدخول</h3>
            <ul class="flex flex-col border divide-y divide-gray-200 dark:divide-gray-800 border-gray-200 dark:border-gray-800 rounded-lg text-gray-900 dark:text-gray-100">
              <li class="flex gap-2 p-2 m-0">
                <label for="email" class="whitespace-nowrap">البريد الإلكتروني</label>
                <input type="email" dir="ltr" v-model="email" class="rounded-md w-full dark:text-white dark:bg-black focus:outline-none">
              </li>
              <li class="flex gap-2 p-2 m-0">
                <label for="passwd" class="whitespace-nowrap">كلمة السر</label>
                <input type="password" dir="auto" v-model="passwd" class="rounded-md w-full px-2 dark:text-white dark:bg-black focus:outline-none">
              </li>
            </ul>
            <button class="block my-4 underline" @click="form = 'signup'">ليس لدي حساب</button>
            <button class="h-11 w-full text-white bg-black dark:text-black dark:bg-white rounded-lg">تسجيل الدخول</button>
          </form>
          <form v-else-if="!process.user && form == 'signup'" method="post" @submit.prevent="signup">
            <h3 class="text-xl font-semibold my-4">انشاء حساب</h3>
            <ul class="flex flex-col border divide-y divide-gray-200 dark:divide-gray-800 border-gray-200 dark:border-gray-800 text-gray-900 dark:text-gray-100 rounded-lg">
              <li class="flex gap-2 p-2 m-0">
                <label for="email" class="whitespace-nowrap">البريد الإلكتروني</label>
                <input type="email" dir="ltr" v-model="email" class="rounded-md w-full dark:text-white dark:bg-black focus:outline-none">
              </li>
              <li class="flex gap-2 p-2 m-0">
                <label for="passwd" class="whitespace-nowrap">كلمة السر</label>
                <input type="password" dir="auto" v-model="passwd" class="rounded-md w-full dark:text-white dark:bg-black focus:outline-none">
              </li>
            </ul>
            <button class="block my-4 underline" @click="form = 'login'">لدي حساب بالفعل</button>
            <button class="h-11 w-full text-white bg-black dark:text-black dark:bg-white rounded-lg">انشاء حساب</button>
          </form>
        </section>
        <template v-if="props.user">
          <section class="text-center" v-scope="authn()">
            <span class="select-auto"> {{ props.contact }} </span>
          <button @click="signout" class="h-11 w-full my-4 text-white bg-black dark:text-black dark:bg-white rounded-lg">تسجيل الخروج</button>
          </section>
        </template>
        <form method="dialog" id="prefrences">
          <h3 class="text-xl font-semibold my-4">الرنين</h3>
          <ul class="flex flex-col border divide-y divide-gray-200 dark:divide-gray-800 border-gray-200 dark:border-gray-800 rounded-lg text-gray-900 dark:text-gray-100">
            <li class="flex gap-2 items-center p-2 m-0">
              <input type="radio" name="ringtone" id="tone" value="tone" v-model="props.ringtone" :checked="props.ringtone === 'tone'" >
              <label for="tone" class="grow">Tone</label>
            </li>
            <li class="flex gap-2 items-center p-2 m-0">
              <input type="radio" name="ringtone" id="beep" value="beep" v-model="props.ringtone" :checked="props.ringtone === 'beep'">
              <label for="beep" class="grow">Beep</label>
            </li>
            <li class="flex gap-2 items-center p-2 m-0">
              <input type="radio" name="ringtone" id="bleep" value="bleep" v-model="props.ringtone" :checked="props.ringtone === 'bleep'">
              <label for="bleep" class="grow">Bleep</label>
            </li>
            <li class="flex gap-2 items-center p-2 m-0">
              <input type="radio" name="ringtone" id="baum" value="baum" v-model="props.ringtone" :checked="props.ringtone === 'baum'">
              <label for="baum" class="grow">Baum</label>
            </li>
          </ul>
        </form>
        <section>
          <h3 class="text-xl font-semibold my-4">عن timeless</h3>
          <p class="text-gray-900 dark:text-gray-100 select-auto">
            إذا ما وصلت الفترة ل15 دقيقة لا تحسب، عدا ذلك تحسب ويعطيك استراحة
          </p>
          <p class="text-gray-900 dark:text-gray-100 select auto pt-5 text-center">0.2.8</p>
        </section>
      </div>
    </dialog>

    <!-- Stats Dialog -->
    <dialog ref="stats" :open="props.stats" class="dark:bg-black dark:text-white absolute top-0 left-0 w-full h-full px-4 py-0 select-none">
      <header class="h-16 flex items-center justify-between">
        <h2 class="text-xl font-bold">الاحصائيات</h2>
          <button @click="props.stats = false" v-if="!process.loading" v-cloak type="submit" form="prefrences" class="h-8 w-8 p-1 rounded-md bg-gray-100 dark:bg-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
          <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 p-1 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
          </svg>
      </header>
      <div class="md:w-96 md:max-w-md md:mx-auto mb-4">
        <template v-if="props.user && props.stats">
          <section v-scope="stats()" @vue:mounted="updateData(interval)" class="flex flex-col">
            <form class="flex justify-center my-4">
              <select id="interval" v-model="interval" @change="updateData" class="font-semibold text-lg bg-transparent appearance-none">
                <option value="86400" >اليوم</option>
                <option value="604800">آخر 7 أيام</option>
                <option value="2592000">آخر 30 يوم</option>
                <option value="15552000">آخر 6 شهور</option>
                <option value="31536000">هذا العام</option>
              </select>
            </form>
            <canvas ref="bar" v-effect="renderCharts()"></canvas>
            <button @click="clearData()" class="h-11 w-full my-2 text-white bg-black dark:text-black dark:bg-white rounded-lg">حذف كافة البيانات</button>
          </section>
        </template>
      </div>
    </dialog>

    <!-- toast -->
    <div v-show="process.toast" v-cloak class="fixed bottom-7 left-1/2 -translate-x-1/2 text-center p-3 rounded-full bg-black text-white dark:bg-white dark:text-black text-xs backdrop-blur-sm opacity-75 transition ease-in delay-300" :class="process.toast? 'transition ease-out delay-300' : ''">
      {{ process.toastMessage }}
    </div>

    <!-- muted to make element silent, after first click the code in `API pollyfill` will unmut element -->
    <!-- this coz webkit prevent media.play() without user intraction for first time -->
    <!-- autoplay to make element play after src change and loaded directly -->
    <!-- if we change src dynamiclly then .play() will not work coz load mostly will not done-->
    <!-- unless we changed src manualy with `.src =` then call `.play` -->
    <audio muted autoplay :src="`assets/audio/${props.ringtone}.mp3`"></audio>
    <script type="module" src="/main.js"></script>
</body>
</html>
