@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    &:focus {
      outline: none;
      outline-offset: 0;
      border: none;
      box-shadow: none;
    }
  }

  select {
    padding-right: 0;
    padding-left: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%233584e4' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: left 0.5rem center;
  }
}

[v-cloak] {
  display: none;
}

.rows-auto-fr {
    grid-template-rows: auto 1fr;
}